[submodule "mmscripts"]
	path = mmscripts
	url = https://git.informatik.uni-hamburg.de/wtmstaff/mmscripts.git
	branch = rh8d_detect
[submodule "kypt_transformer"]
	path = kypt_transformer
	url = https://github.com/shreyashampali/kypt_transformer.git
[submodule "INN_Continuum_Robot"]
	path = INN_Continuum_Robot
	url = https://github.com/Shaswat2001/INN_Continuum_Robot.git
