*.code-workspace
*.mp4
*.pyc
inventor/lockfile.lck
*.code-workspace
.vscode
*log
datasets/detection/keypoint/detections
datasets/detection/keypoint/joined
datasets/detection/keypoint/post_processed
datasets/detection/keypoint/train
optuna_study.db
